<div class="card mt-4 d-flex justify-content mb-3">
    <div class="card-header">
        <h1><%= @team.name %></h1>
        <br>
        <div class="d-flex">
            <%= link_to 'Participantes', tu_linkers_path(team_id: @team.id), class: 'btn btn-sm btn-info me-2' %>
            <%= link_to 'Cambiar nombre', edit_team_path(@team), class: 'btn btn-sm btn-warning me-2' %>
            <%= button_to 'Eliminar', team_path(@team), method: :delete, data: { turbo_confirm: '¿Estás segura/o de eliminar este equipo?' }, class: 'btn btn-sm btn-danger' %>
        </div>
    </div>
    <div class="card-body">
        <% if @team.boards.any? %>
            <ul class="list-group">
                <% @team.boards.each do |board| %>
                <li class="list-group-item">
                    <%= link_to board.title, board_path(board), class: 'plain-text:-link text-decoration-none' %>
                </li>
                <% end %>
            </ul>
        <% else %>
            <p>No hay tableros para mostrar en este equipo.</p>
        <% end %>
        <br>
        <div>
            <%= link_to 'Nueva tabla', new_board_path(team_id: @team.id), class: 'btn btn-primary' %>
        </div>
    </div>
</div>