<div class="container">
  <div class="card">
    <%= form_with model: @user, local: true do |form| %>
      <h1>Registrarse en Kanban</h1>
      <div class="mb-3">
        <%= form.label :username, "Nombre de usuario" %>
        <%= form.text_field :username, class: 'form-control rounded-pill', id: 'username', required: true, oninvalid: "this.setCustomValidity('Por favor, ingresa un nombre de usuario')" %>
      </div>
      <div class="mb-3">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, class: 'form-control rounded-pill', id: 'email', required: true, oninvalid: "this.setCustomValidity('Por favor incluye un \"@\" en la dirección de email. Ejemplo: nombre@dominio.com')" %>
      </div>
      <div class="mb-3">
        <%= form.label :password, "Contraseña" %>
        <%= form.password_field :password, class: 'form-control rounded-pill', id: 'password', required: true, minlength: 8, oninvalid: "this.setCustomValidity('La contraseña debe tener al menos 8 caracteres')" %>
      </div>
      <div class="mb-3">
        <%= form.label :password_confirmation, "Confirmar contraseña" %>
        <%= form.password_field :password_confirmation, class: 'form-control rounded-pill', id: 'password_confirmation', required: true, minlength: 8, oninvalid: "this.setCustomValidity('Las contraseñas no coinciden')" %>
      </div>
      <div class="mb-3">
        <%= form.label :full_name, "Nombre completo" %>
        <%= form.text_field :full_name, class: 'form-control rounded-pill', id: 'full_name', required: true, oninvalid: "this.setCustomValidity('Por favor, ingresa tu nombre completo')" %>
      </div>
      <%= form.submit "Registrarse", class: 'btn btn-primary' %>
      <%= link_to 'Volver al Inicio', users_path, class: 'btn btn-red' %>
    <% end %>
  </div>
</div>

<script>
  document.querySelectorAll('.form-control').forEach(input => {
    input.oninput = () => input.setCustomValidity('');
  });
</script>
