<%= form_with model: board, local: true do |form| %>
    <% if @board.errors.any? %>
        <div style="color: red;">
            <h4><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h4>
            <ul>
                <% @board.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <br><br>
    <div class="form-group mb-3 col-md-12">
        <%= form.label :title, "Título" %>
        <%= form.text_field :title, class: 'form-control rounded-pill' %>
    </div>

    <br>
    <div class="d-flex justify-content-between">
        <%= form.submit "Actualizar", class: "btn btn-primary" %>
        <%= link_to "Volver", board_path(@board), class: "btn btn-secondary" %>
    </div>
<% end %>
