<div class="card">
  <h1 class="my-4">Lista de tareas</h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Estado</th>
          <th scope="col">Tabla</th>
          <th scope="col">Equipo</th>
        </tr>
      </thead>
      <tbody>
        <% @cards.each do |card| %>
          <% if card.status_list.board.team.users.include?(current_user) %>
            <tr>
              <td> <%= link_to card.title, card_path(card), class: 'text-decoration-none' %> </td>
              <td>
                <% status_list = StatusList.find(card.status_list_id) %>
                <%= link_to (StatusList.find(card.status_list_id)).title, status_list_path(status_list), class: 'text-decoration-none' %>
              </td>
              <td>
                <% board = Board.find((StatusList.find(card.status_list_id)).board_id) %>
                <%= link_to (Board.find((StatusList.find(card.status_list_id)).board_id)).title, board_path(board), class: 'text-decoration-none' %>
              </td>
              <td>
                <% team = Team.find((Board.find((StatusList.find(card.status_list_id)).board_id)).team_id) %>
                <%= link_to (Team.find((Board.find((StatusList.find(card.status_list_id)).board_id)).team_id)).name, team_path(team), class: 'text-decoration-none' %>
              </td>
            </tr>
          <% else %>
            <tr>
              <td> <%= card.title %> </td>
              <td> <%= StatusList.find(card.status_list_id).title %> </td>
              <td> <%= Board.find(StatusList.find(card.status_list_id).board_id).title %> </td>
              <td> <%= Team.find(Board.find(StatusList.find(card.status_list_id).board_id).team_id).name %> </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
